**desition tree**

In [1]:
##import 
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [31]:
data = {'Person':['Homer','Marge','Bart','Lisa','Maggie','Abe','Selma','Otto','Krusty'],
        'HairLength':[0,10,2,6,4,1,8,10,6],
        'Weight':[250,150,90,78,20,170,160,180,200],
        'Age':[36,34,10,8,1,70,41,38,45],
        'Indicator':['M','F','M','F','F','M','F','M','M']
       }

In [32]:
data

{'Person': ['Homer',
  'Marge',
  'Bart',
  'Lisa',
  'Maggie',
  'Abe',
  'Selma',
  'Otto',
  'Krusty'],
 'HairLength': [0, 10, 2, 6, 4, 1, 8, 10, 6],
 'Weight': [250, 150, 90, 78, 20, 170, 160, 180, 200],
 'Age': [36, 34, 10, 8, 1, 70, 41, 38, 45],
 'Indicator': ['M', 'F', 'M', 'F', 'F', 'M', 'F', 'M', 'M']}

In [33]:
dframe = DataFrame(data,index= np.arange(9))

In [34]:
dframe

   Person  HairLength  Weight  Age Indicator
0   Homer           0     250   36         M
1   Marge          10     150   34         F
2    Bart           2      90   10         M
3    Lisa           6      78    8         F
4  Maggie           4      20    1         F
5     Abe           1     170   70         M
6   Selma           8     160   41         F
7    Otto          10     180   38         M
8  Krusty           6     200   45         M

In [35]:
##Male
dframe[dframe.Indicator == 'M']

   Person  HairLength  Weight  Age Indicator
0   Homer           0     250   36         M
2    Bart           2      90   10         M
5     Abe           1     170   70         M
7    Otto          10     180   38         M
8  Krusty           6     200   45         M

In [36]:
##Female
dframe[dframe.Indicator == 'F']

   Person  HairLength  Weight  Age Indicator
1   Marge          10     150   34         F
3    Lisa           6      78    8         F
4  Maggie           4      20    1         F
6   Selma           8     160   41         F

In [37]:
##Total
dframe['Indicator'].value_counts()

M    5
F    4
Name: Indicator, dtype: int64

In [38]:
m,f = dframe['Indicator'].value_counts()

In [39]:
#Male
m

5

In [40]:
#Female
f

4

In [41]:
length = len(dframe.Indicator)

In [42]:
length

9

*Entropy*

In [43]:
##  P(m) = 5 / 9
##  P(f) = 4 / 9
e = ((m/length * (-np.log(m/length))) + (f/length * (-np.log(f/length))) )

In [44]:
e

0.6869615765973234

In [47]:
## Hair length <= 5 ?
hShort = dframe[dframe.HairLength <= 5]

In [48]:
hShort

   Person  HairLength  Weight  Age Indicator
0   Homer           0     250   36         M
2    Bart           2      90   10         M
4  Maggie           4      20    1         F
5     Abe           1     170   70         M

In [49]:
## Hair length >= 5 ?
hLong = dframe[dframe.HairLength >= 5]

In [50]:
hLong

   Person  HairLength  Weight  Age Indicator
1   Marge          10     150   34         F
3    Lisa           6      78    8         F
6   Selma           8     160   41         F
7    Otto          10     180   38         M
8  Krusty           6     200   45         M

In [55]:
m1,f1 = hShort['Indicator'].value_counts()

In [56]:
print(m1,f1)

3 1

In [57]:
m2,f2 = hLong['Indicator'].value_counts()

In [58]:
print(m2,f2)

3 2

*Entropy of Short hair*

In [63]:
HairES = (m1/len(hShort) * (-np.log(m1/len(hShort))) + f1/len(hShort) * (-np.log(f1/len(hShort))))

In [64]:
HairES

0.5623351446188083

*Entropy of Long hair*

In [65]:
HairEL = (m2/len(hLong) * (-np.log(m2/len(hLong))) + f2/len(hLong) * (-np.log(f2/len(hLong))))

In [66]:
HairEL

0.6730116670092565

*Total entropy of hair length*

In [67]:
eH = HairES * (len(hShort)/len(dframe))  +  HairEL * (len(hLong)/len(dframe))

In [68]:
eH

0.6238221015023907

*Entropy of Weight*

In [85]:
## Weight <= 160
Wlight = dframe[dframe.Weight <= 160]

In [86]:
Wlight

   Person  HairLength  Weight  Age Indicator
1   Marge          10     150   34         F
2    Bart           2      90   10         M
3    Lisa           6      78    8         F
4  Maggie           4      20    1         F
6   Selma           8     160   41         F

In [78]:
## Weight >= 160
Wbig = dframe[dframe.Weight >= 160]
wf , wm = Wbig['Indicator'].value_counts()

In [79]:
Wbig

   Person  HairLength  Weight  Age Indicator
0   Homer           0     250   36         M
5     Abe           1     170   70         M
6   Selma           8     160   41         F
7    Otto          10     180   38         M
8  Krusty           6     200   45         M

In [80]:
print(wm,wf)

1 4

*Entropy of light weight*

In [81]:
LightWe = (wm/len(Wbig) * -np.log(wm/len(Wbig))  + wf/len(Wbig) * -np.log(wf/len(Wbig)))

In [82]:
LightWe

0.5004024235381879

In [92]:
## Weight >= 160
WBig = dframe[dframe.Weight > 160]

In [93]:
WBig

   Person  HairLength  Weight  Age Indicator
0   Homer           0     250   36         M
5     Abe           1     170   70         M
7    Otto          10     180   38         M
8  Krusty           6     200   45         M

In [97]:
wm = WBig['Indicator'].value_counts()

In [98]:
wm

M    4
Name: Indicator, dtype: int64

*Entropy of havey weigth*

In [99]:
bigWe = (wm/len(WBig) - np.log(wm/len(WBig)) + 0/len(WBig) - np.log(0/len(WBig)))

/home/tim0114gap/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

In [100]:
bigWe

M    inf
Name: Indicator, dtype: float64

*Total Entropy of Weight*

In [101]:
wE = LightWe * (len(Wbig)/len(dframe)) + 0 * (len(WBig)/len(dframe))

In [102]:
wE

0.2780013464101044

*Entropy of Age*

In [103]:
#Age <= 40
youthAge = dframe[dframe.Age <= 40]

In [109]:
f1 , m1 = youthAge['Indicator'].value_counts()

In [110]:
#Age >= 40
oldAge = dframe[dframe.Age >= 40]

In [111]:
f2 , m2 = oldAge['Indicator'].value_counts()

*Entropy of youth Age*

In [112]:
youthEage = (m1/len(youthAge) * (-np.log(m1/len(youthAge))) + f1/len(youthAge) * (-np.log(f1/len(youthAge))))

In [113]:
youthEage

0.6931471805599453

In [114]:
oldEage = (m2/len(oldAge) * (-np.log(m2/len(oldAge))) + f2/len(oldAge) * (-np.log(f2/len(oldAge))))

In [115]:
oldEage

0.6365141682948128

In [116]:
aE = youthEage * (len(youthAge)/len(dframe)) + oldEage * (len(oldAge)/len(dframe))

In [117]:
aE

0.6742695098049011